.card-body-content{
    background-color: #f5f5f5;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}
.field-label{
    font-weight: 400;
}
.error-icon{
    --sds-c-icon-color-foreground-default: #e42525;
}
.serial-no{
    font-size: 22px;
    font-weight: 900;
    padding-right: 15px;
    float: left;
}
.details{
    padding-top: 2px;
}
@media only screen and (max-width: 600px) {    
    .field-value{
        text-transform: capitalize;
        padding-bottom: 5px;
    }
}
@media only screen and (min-width: 601px) {  
    .field-value{
        text-align: end;
        text-transform: capitalize;
    }
}