.message-detail{
    background : #F5F5F5;
    padding: 40px 56px 52px 39px;
}
.label{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;

color: #000000;
}

.message-list-item{
    padding : 20px 0px;
    border-bottom: 1px solid #D9D9D9;
    cursor:pointer;
     
}
.message-list-item:nth-child(1){
    border-top: 1px solid #D9D9D9;
}

.message-list-item h3{
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    min-width: 80%;
}

.message-list-item p{
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    min-width: 100px;
    text-align: right;
}

.message-list .unread{
    background : #F5F5F5;
}
.message-list .unread .message-dot{
    opacity: 1;
}
.message-list .unread h3{
    font-weight: 700;
}

.message-list .unread p{
    font-weight: 700;
}

.message-list-item .message-dot{
    width:10px;
    height : 10px;
    background: #ffa200;
    border-radius: 50%;
    opacity: 0;
}
.message-detail-text{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}
@media only screen and (min-width: 601px) {
    .message-small{
        display: none;
    }
    .message-large{
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .message-small{
        display: block;
    }
    .message-large{
        display: none;
    }    
}
.more-info-text{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 20px;
}