.tabs {
    border: 0;
}

.category-tab {
    width: 360px;
    border: 0;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #DBDBDB;
}

.category-tab .slds-is-active {
    background: #F5F5F5;
    box-shadow: 0px 0px 0px #DBDBDB, inset 2px 0px 0px #E42525;
}

.category-tab .slds-is-active .slds-vertical-tabs__link:hover {
    background: #F5F5F5;
    box-shadow: 0px 0px 0px #DBDBDB, inset 2px 0px 0px #E42525;
}

/*.category-tab .slds-is-active .slds-vertical-tabs__link:focus{
    text-decoration: none;
}*/

/* D_Headline/Headline 2 - H2 40 px */
.category-tab a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #080707;
    height: 60px;
}

.category-tab .slds-is-active a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #E42525;
}

.slds-is-active:after {
    background-color: #E42525;
}

.category-tab-small {
    height: 61px;
}

.category-tab-small button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #080707;
}

.trim-header {
    font-weight: bold;
}

@media only screen and (min-width: 601px) {
    .category-list-small {
        display: none;
    }

    .category-list-large {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .category-list-large {
        display: none;
    }

    .category-list-small {
        display: block;
    }

    .trim-header {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 26px;
        padding-left: 10px;
    }
}