.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 16px;
    color: var(--HondaBlack);
    
}
.link {
    cursor: pointer;
}
.card_body {
    background-color: #f5f5f5;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 1px solid #f5f5f5;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: -.75rem;
}
.custom-icon {
    --sds-c-icon-color-foreground-default: var(--HondaBlack);
    --sds-c-icon-color-background: white;
    /* border: 2px solid var(--HondaBlack);
    border-radius: 50%; */
}
.card-title{
    padding: 3px 0px;
}