nav {
    padding: 0 15px; 
}

.slds-breadcrumb__item:last-of-type > a {
    color: black !important;
    cursor: default !important;
}

.slds-breadcrumb__item:last-of-type > a:hover {
text-decoration: none!important;
}

.slds-breadcrumb__item:last-of-type > a:focus {
    text-decoration: none!important;
}