:host {
    --sds-c-button-brand-color-background: #5E6162;
    --sds-c-button-brand-color-border: #5E6162;
    --sds-c-button-brand-color-background-hover: #333536;
    /*for hover*/
    --sds-c-button-brand-color-border-hover: #333536;
    --sds-c-button-brand-color-link: #333536;
    --sds-c-button-brand-font-style: "Roboto";
    --sds-c-button-neutral-color-background-hover: #D9D9D9;
    --sds-c-button-neutral-color-border: #5E6162;
    /*--sds-c-button-neutral-color-link: #000000;*/
}

.THIS.customRadioCls .slds-form-element__control .slds-radio {
    display: inline-block !important;
}

.vehicleSelectorLabel {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.vehicleSelectButton {
    color: #000000 !important;
    border-radius: 2px !important;
    font-size: 15px;
    padding: 10px 10px 10px 0px!important;
    min-width: 120px !important;
    text-align: center !important;
    /* text-transform: uppercase !important; */
    /* background: #E42525 !important;
    border-color: #E42525 !important; */
}
.vehicleSelectButtonDisable {
    color: #fff !important;
    border-radius: 2px !important;
    font-size: 15px;
    padding: 12px 0px !important;
    min-width: 120px !important;
    text-align: left !important;
    text-transform: uppercase !important;
    background: #5E6162 !important;
    border-color: #5E6162 !important;
}


.closeIcon {
    --sds-c-icon-color-foreground-default: #ffffff;
}