@font-face {
    font-family: 'Avenir LT Pro 65';
    src: url('AvenirLTPro-MediumOblique.eot');
    src: url('AvenirLTPro-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-MediumOblique.woff2') format('woff2'),
        url('AvenirLTPro-MediumOblique.woff') format('woff'),
        url('AvenirLTPro-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Pro 65';
    src: url('AvenirLTPro-Black.eot');
    src: url('AvenirLTPro-Black.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-Black.woff2') format('woff2'),
        url('AvenirLTPro-Black.woff') format('woff'),
        url('AvenirLTPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Pro 55 Roman';
    src: url('AvenirLTPro-HeavyOblique.eot');
    src: url('AvenirLTPro-HeavyOblique.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-HeavyOblique.woff2') format('woff2'),
        url('AvenirLTPro-HeavyOblique.woff') format('woff'),
        url('AvenirLTPro-HeavyOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTPro-Book.eot');
    src: url('AvenirLTPro-Book.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-Book.woff2') format('woff2'),
        url('AvenirLTPro-Book.woff') format('woff'),
        url('AvenirLTPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTPro-Light.eot');
    src: url('AvenirLTPro-Light.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-Light.woff2') format('woff2'),
        url('AvenirLTPro-Light.woff') format('woff'),
        url('AvenirLTPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Pro 45 Book';
    src: url('AvenirLTPro-BookOblique.eot');
    src: url('AvenirLTPro-BookOblique.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-BookOblique.woff2') format('woff2'),
        url('AvenirLTPro-BookOblique.woff') format('woff'),
        url('AvenirLTPro-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Pro 65';
    src: url('AvenirLTPro-BlackOblique.eot');
    src: url('AvenirLTPro-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-BlackOblique.woff2') format('woff2'),
        url('AvenirLTPro-BlackOblique.woff') format('woff'),
        url('AvenirLTPro-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Pro 55 Roman';
    src: url('AvenirLTPro-Heavy.eot');
    src: url('AvenirLTPro-Heavy.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-Heavy.woff2') format('woff2'),
        url('AvenirLTPro-Heavy.woff') format('woff'),
        url('AvenirLTPro-Heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Pro 35';
    src: url('AvenirLTPro-LightOblique.eot');
    src: url('AvenirLTPro-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-LightOblique.woff2') format('woff2'),
        url('AvenirLTPro-LightOblique.woff') format('woff'),
        url('AvenirLTPro-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTPro-Medium.eot');
    src: url('AvenirLTPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-Medium.woff2') format('woff2'),
        url('AvenirLTPro-Medium.woff') format('woff'),
        url('AvenirLTPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Pro';
    src: url('AvenirLTPro-Roman.eot');
    src: url('AvenirLTPro-Roman.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-Roman.woff2') format('woff2'),
        url('AvenirLTPro-Roman.woff') format('woff'),
        url('AvenirLTPro-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Pro 55 Roman';
    src: url('AvenirLTPro-Oblique.eot');
    src: url('AvenirLTPro-Oblique.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-Oblique.woff2') format('woff2'),
        url('AvenirLTPro-Oblique.woff') format('woff'),
        url('AvenirLTPro-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

