    .navBarContainer .navBar {
        display: none !important;
    }
    
    @media (min-width: 768px) {
        .mainHeader {
            position: fixed;
            width: 100%;
            z-index: 999;
            top: 70px;
            left: 0;
            background: #F0F0F0;
            padding: 10px;
            min-height: 50px;
            border-bottom: 0 !important;
            border-radius: 0 !important;
            nav {
                margin: 0 auto;
                max-width: 1170px;
            }
            .Trim1.slds-form-element .slds-dropdown.slds-listbox,
            .Trim2.slds-form-element .slds-dropdown.slds-listbox,
            .Trim3.slds-form-element .slds-dropdown.slds-listbox,
            .Trim4.slds-form-element .slds-dropdown.slds-listbox{
                top: auto;
                bottom: 45px;
                max-height: 150px;
            }
        }
    }