/* D_Headline/Headline 2 - H2 40 px */
.tab-text-headline {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    /*font-size: 32px;
    line-height: 37px;*/
    text-align: center;
    /*letter-spacing: 0.02px;*/
    color: #000000;
}
.tab-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900 !important;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #000000;
}
.slds-is-active:after {
    background-color: #E42525;
}
.tab-button {
    border: 2px solid #E42525;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #E42525;

}
.tab-combobox {
    width: 272px;
}
@media only screen and (max-width: 7200px) {
    .tab-small {
        display: none;
    }
    .tab-large {
        display: block;
    }
}
@media only screen and (max-width: 600px) {
    .tab-large {
        display: none;
    }
    .tab-small {
        display: block;
    }
}