img{
    width: 230px;
    
}

@media only screen and (max-width:768px){

    img{
        width: 160px;
    }
}

@media only screen and (max-width:600px){

    img{
        
        width: 180px;
    }
}