@media only screen and (min-width: 905px) {
    .slds-container{
        padding-left: 20%;
        padding-right: 20%;
    }
}
@media only screen and (max-width: 904px) {
    .slds-container{
        padding-left: 5%;
        padding-right: 5%;
    }
}
.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.02em;
    line-height: 37px;
    font-size: 32px;
    color: #000000;
}
.description{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    font-size: 16px;
}
.phone{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px; 
}
.phone-description, .clarity-heading, .accordian-section-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
.accordian-heading{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.download-pdf-button{
    color: #e42525;
    border: 2px solid #e42525;
    border-radius: 2px;
    background-color: white;
    width: 243px;
    height: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
}
.additional-info{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}
.accordian-icon{
    --sds-c-icon-color-foreground-default: red;
}
.ph-1, .ph-2{
    color: #000000; 
}
@media only screen and (min-width: 601px) {
    .show-desktop-format {
        pointer-events: none;
        cursor: default;
    }
    
}
@media only screen and (max-width: 600px) {
    .ph-1, .ph-2{
        color: #e42525;
    }
}