.container{
    background-color: white;
}
.breadcrumb {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 0.02em;
}
.breadcrumb-text-color {
    color: #E42525 !important;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    margin-left: 12px;

}
.breadcrumb-item-back::before {
    content: "<" !important;
    position: absolute;
    left: 0;
    color: #E42525;
}
.image-container{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.text-img-div{
    border: 1px ridge lightgray;
    padding: 30px;
}
@media only screen and (min-width: 905px) {
    .title{
        margin-left: 70px;
        margin-right: 70px;
    }
    .text-img-div{
        margin-left: 70px;
        margin-right: 70px;
    }
    .breadcrumb-large{
        margin-left: 84px;
    }
    .img{
        height: 440px;
    }
}
@media only screen and (max-width: 904px) {
    .title{
        margin-left: 5px;
        margin-right: 5px;
    }
    .text-img-div{
        margin-left: 5px;
        margin-right: 5px;
    }
}
.title{
    font-size: 26px;
    border: 1px ridge lightgray;
    font-family: inherit;
    padding: 5px;
}
.text{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 17px;
    color: grey;
}